@font-face {
  font-family: "Mont Bold";
  src: local("Mont-Black"), url(./assets/fonts/Mont-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Mont Semibold";
  src: local("Mont-SemiBold"),
    url(./assets/fonts/Mont-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Mont Regular";
  src: local("Mont-Regular"),
    url(./assets/fonts/Mont-Regular.ttf) format("truetype");
}
